.nav-continer{
    height: 99.8vh;
    width: 20rem;
border: 1px solid #AAA;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: sticky;
    left: 0px;
    top: 0px;
}

.nav-continer-header{
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 0px;
}

.nav-link-continer{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    width: 18rem;
    /* border: 1px solid #000; */
    margin-left: 1rem;
    transition-duration: 2s;
}

.div-icon-button{
    display: flex;
    justify-content: start;
    align-items: center;
}
.nav-button{
    width: 17rem;
    height: 3.5rem;
    font-size: 1.5rem;
    font-weight: 0;
    margin-top: 1rem;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #FFF;
    transition-duration: 0.5s; 
}

.nav-button:hover{
    background-color: #00000011;
}

.nav-icon-buttons{
    display: none;
    color: #000;
    margin: 0px 1rem;
    padding: 1rem;
}


@media screen and (max-width:780px) {

    .nav-button{
        display: none;
    }
    .nav-icon-buttons{
        display: block;
    }

    .nav-continer{
        width: 6rem;
    }
    .nav-link-continer{
        width: 2rem;
    }
}



@media screen and (min-width:1700px) {
    .nav-button{
        height: 5rem;
        font-size: 1.5rem;
    }
}


.nav-search-text{
    font-size: 1.5rem;
    margin-left: 1rem;
}

.nav-search-input-continer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #eee;
    margin: 0px 1rem;
    height: 2rem;

}

.nav-search-input{
    border: none;
    outline: none;
    background-color: #eee;
    width: 90%;
    padding-left: 1rem;
    margin-left:3px ;
}

.nav-recent-text{
    font-size: 1rem;
    margin-bottom: 0px;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.nav-search-react-ids-continer{
    margin:2px 1rem;
    height: 4rem;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

.nav-profile-div{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.nav-profile-div img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.nav-search-user-id-about-continer{
    
}

.nav-search-user-id-about-continer-id{
    font-size: 1rem;
    color: #000;
    margin: 1px;
    margin-left: 1rem;
}
.nav-search-user-id-about-continer-about{
    font-size: 1rem;
    color: #aaa;
    margin: 1px;
    margin-left: 1rem;

}


.nav-more-option-continer{
    min-height: 25;
    width: 13rem;
    background-color: #eee;
    position: absolute;
    bottom: 6rem;
    left: 2rem;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-more-option-continer-inner-fr{
    height: auto;
    width: 13rem;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.3rem 0px;
}

.nav-more-option-continer-inner-sec{
    height: auto;
    width: 13rem;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.3rem 0px;
    margin-top: 0.3rem;
}


.nav-more-option-continer-nav-bt{
    height: 3rem;
    width: 12rem;
    background-color: #fff;   
    border: none;
    outline: none;
    display: flex;
    justify-content: start;
    align-items: center;
    /* margin: 0px 0.5rem; */
    font-size: 1rem;
    transition-duration: 0.5s;
    border-radius: 10px;
    /* margin: 0.2em 0px; */
}

.nav-more-option-continer-nav-bt:hover{
    background-color: #dddcdc;
}

.nav-more-option-continer-nav-bt-margin{
    margin: 0.3em 0px;
}